body{
	font-size: 15px;
	line-height: 1.5em;
}

#navigation{
	background: orange;
}

.content{
	margin-bottom: 15px;
}

h4{
	margin-top: 10px;
}

#logo{
	margin-top: 0px;
}

#name{
	float: left;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 0;
}

#name a{
	text-decoration: none;
	color: inherit;
}

#contact-details{
	text-align: right;
}

#contact-details li{
	/*font-size: 1.1em;*/
}

#contact-details li a{
	background: orange;
	color: white;
	font-weight: bold;
}

#select-language{
	display: inline-block;
	position: relative;
	text-decoration: underline;
}

#select-language ul{
	min-width: 200px;
	z-index: 10;
}

#select-language:hover{
	cursor: pointer;
}

#select-language li{
	display: block;
}

#select-language .txlive-langselector-list > li{
	width: auto;
}

.bold{
	font-weight: bold;
}

p a, #stappenplan a{
	color: brown;
	border-bottom: 1px dotted brown;
}

#stappenplan li{
	margin-bottom: 0.5em;
}

.spacer{
	max-height: 80px;
}

table{
	margin-top: 1em;
}

.imgcontainer{
	margin: 1em 0em;
}

.headline{
	text-shadow: 0px 0px 10px orange;
}

#quicklinks{
	position: fixed;
}

.sticky{
	top: 0px;
}

section ul{
	list-style: square;
	margin-left: 2em;
	margin-bottom: 1em;
}

ul.accordion li{
	clear: both;
}

section{
	clear: both;
}

a > span{
	display: none;
}

p.version{
	display: none;
}

@media (max-width: 1500px){
	body{
		font-size: 1em;
	}
	#name{
		font-size: 1em;
	}
	#tagline{
		padding: 5px 0 0 20px;
	}
}

@media (max-width: 1000px){
	#tagline{
		/*display: none;*/
		display: block;
		margin-left: 0px;
		border-left: none;
		padding: 0px;
		clear:left;
	}
	#contact-details li{
		display: block;
		margin-left: 0px;
		border-left: none;
		margin: 0.5em 0;
	}

	#quicklinks{
		position: relative;
		top: 0px !important;
	}
}

@media (max-width: 768px){
	#contact-details{
		text-align: left;
	}
}
